<!DOCTYPE html>
<html>
  <head>
    <title>PhotoApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/navigation' %>
    <div class="container my-5">
      <div class="row">
        <div class="col-lg-8">
          <div class="px-5">
            <div id="messages">
              <%= render 'layouts/messages' %>
            </div>
            <main>
              <%= yield %>
            </main>
          </div>
        </div>
        <aside class="col-lg-4 border shadow p-4 mt-lg-0 mt-4">
          <%= render 'layouts/sidebar' %>
        </aside>
      </div>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
